* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */

body {
    font-family: 'Open Sans', sans-serif;

}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.container_small {
    width: 1200px;
    margin: 0 auto;
}

.font_40 {
    font-size: 40px;
}

.font_30 {
    font-size: 30px;
}

.font_18 {
    font-size: 18px;
}

* li {
    list-style-type: none;
}

.margin_30 {
    margin: 30px 0;
}

.col_33 {
    width: calc((100% / 3) - 20px) ;
}

.col_33:nth-child(2) {
    margin: 0 30px;
}

section .col hr {
    color: lightgrey;
    width: 50px;
    margin-bottom: 30px;
}

/* /utils */

 /* barra di navigazione  */

header nav {
    position: relative;

}

.nav_top {
    height: 70px;
    width: 100%;
    padding: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu_left {
    top: 20px;
    left: 150px;
    position: absolute;
}

.menu_right {
    text-align: right;
    top: 20px;
    right: 100px;
    position: absolute;
}

.nav_top li {
    display: inline-block;
}

.nav_top li a {
    margin: 20px;
    text-decoration: none;
}

.nav_top li a:hover {
    text-decoration: underline;
}

.button_starts {
    color: white;
    background-color: rgb(0,97,255);
    padding: 5px 15px;
    text-decoration: none;
}

 /* /barra di navigazione  */

 /* header jumbotron */

.bg_header {
    background-color: rgb(180,208,231);
    height: 800px;
    margin-top: 80px;
}

.container_big {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding-top: 90px;
    position: relative;
}

.container_big h1 {
    font-size: 74px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
}

#text_header {
    width: 400px;
    margin-top: 80px;
}

#text_header p {
    margin-bottom: 50px;
}

#img_header {
    width: 800px;
    position: absolute;
    bottom: -50px;
    right: 0;
}

.container_big img {
    width: 100%;
}

/* /header jumbotron */

/* piano di abbonamento */


.col_invoice_bottom {
    padding: 10px 30px;
    height: 1000px;
    border: 1px solid gray;
}


.top_col_invoice {
    height: 40px;
    border: 1px solid grey;
    text-align: center;
    padding-top: 7px;
    border-bottom: none;
}

.marg_top {
    margin: 80px 0 40px 0;
}

.radio-select {
    margin-right: 10px;
}  

.radio:before {
    content: "";
    display: inline-block;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    vertical-align: middle;
    margin-right: 5px;
}

.radio-select:before {
    border: 5px solid #0061ff;
}

.invoice_year:before {
    margin-left: 10px;
    border: 1px solid #b8b8b8;
}

.font_30, .font_20 {
    margin: 15px 0;
}

.font_grey {
    color: grey;
    margin-bottom: 40px;
}

.col_invoice_bottom li {
    display: block;
    margin: 30px 0;

}

.col_invoice_bottom ul {
    margin: 40px 0;
}


.col_invoice_bottom .fa-check {
    color: rgb(0,97,255);
}

.col_invoice_bottom div > a {
    color: rgb(0,97,255);
}

/* /piano di abbonamento */

/* contatta ufficio */

.btt_test_free {
    color: white;
    background-color: rgb(0,97,255);
    padding: 7px 50px;
    text-decoration: none;
    text-align: center;
}

.enterprise_contact {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 100px;
}

.col_enterprise_bottom {
    padding: 10px 30px;
    height: 200px;
    position: relative;
}

.change_pos {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* /contatta ufficio */

/* sezione partner */

.section_partner {
    margin: 100px 0;
}

.section_partner img {
    width: 50%;
}

.partner_text {
    width: 50%;
    padding: 50px;
}

.btt_partner {
    border: 1px solid black;
    padding: 7px 20px;
    display: inline-block;
}
/* /sezione partner */

/* sezione operazioni */

.col_operations > div {
    padding: 30px;
}

.col_operations img {
    width: 100%;
}

#text_underline {
    text-decoration: underline;
}

/* /sezione operazioni */

/* sezione utilizzatori */

.text_team > a {
    color: rgb(0,97,255);
}

/* /sezione utilizzatori */

.container_box {
    width: calc(100% / 3);
    height: calc(80vw / 3);
    margin-top: 50px;
}

.user_box {
    width: 50%;
    height: 50%;
    position: relative;
}

.user_box > img {
    width: 60%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user_banner {
    padding: 60px;
}

.user_banner > img {
    width: 30%;
    margin-bottom: 30px;
}

.user_banner p, figcaption {
    margin-top: 40px;
}
  
.user_1 {
    background-color: #A2D39B;
} 

.user_2 {
    background-color: #61082B;
} 

.user_3 {
    background-color: #0093CE;
} 

.user_4 {
    background-color: #FF1C1C;
} 
  
.user_5 {
    background-color: #D5001F;
} 

.user_6 {
    background-color: #B4D0E7;
} 

.user_7 {
    background-color: #0D2481;
} 

.user_8 {
    background-color: #FFD830;
}

.user_banner {
    background-color: #F5F5F5;
}

/* sezione utilizzatori */

/* sezione prova gratuita */

.section_free_trial {
    background-color: rgb(180,208,231);
    height: 400px;
}

.free_trial {
    padding: 150px 0;
    position: relative;
}

#textfree_trial {
    color: #61082B;
    width: 50%;
}

.free_trial a  {
    text-decoration: none;
    color: black;
    padding: 7px 40px;
    background-color: white;
    margin-left: 150px;
    position: absolute;
    top: 160px;
    right: 0;
}

/* /sezione prova gratuita */
/* sezione domande frequenti */

.section_questions {
    height: 800px;
    padding: 200px 0;
    position: relative;
}

.section_questions > h3 {
    margin-bottom: 50px;
}

.section_questions h4 {
    font-size: 18px;
    margin: 40px 0;
}

.section_questions .fa-chevron-down {
    text-align: right;
}

.text_faq {
    border-top: 1px solid lightgrey;
    position: relative;
}

.text_faq:last-child {
    border-bottom: 1px solid lightgrey;
}

.text_faq .fas {
    position: absolute;
    right: 20px;
    top: 65%;
}

/* footer */

#bg_footer {
    height: 500px;
    background-color: black;
    margin-top: 100px;
}

.cont_footer {
    padding-top: 90px;
    width: 100%;
}

.cont_footer nav {
    width: calc((100% / 5) - 80px);
    margin: 0 40px;
}

.cont_footer nav li {
    margin: 10px 0;
}

.cont_footer nav li a {
    text-decoration: none;
    color: white;
    font-style: initial;
}

.cont_footer h5 {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

footer hr {
    border-color: grey;
    width: 100px;
    margin: 100px 0 40px 40px;
}

#langue {
    font-size: 12px;
    color: lightgray;
    margin: 40px;
}

/* /footer */